@import "style.css";

* {
	color: #CCC !important;
	background: none !important;
	background-color: #000 !important;
}
a:link {
	color: #FFF !important;
}
a:visited {
	color: #999 !important;
}
a:focus {
	color: #9F9 !important;
}
